# Exclude contents of Records/Audio
Records/Audio/*

# Exclude contents of Records/Transcription
Records/Transcription/*

# Exclude contents of Temp
Temp/*

# Exclude contents of Logs
Logs/*

# Exclude contents of venv/Lib/site-packages/torch because there is massive files in this labrary
venv/Lib/site-packages/torch/*


audio_transcription_app/Settings/user/settings.json